[2015-07-02 13:45] marscher opened #1 "remove high level api classes"

[2015-07-02 13:46] marscher opened #2 "better package name"

[2015-07-02 13:46] marscher opened #3 "enable travis"

[2015-07-02 13:46] marscher opened #4 "create conda recipe and pypi package"

[2015-07-08 13:36] #1 closed, assigned to nobody

[2015-07-08 13:36] #2 closed, assigned to nobody

[2015-07-08 15:17] marscher opened #5 "rdl_decomposition tests fail randomly"

[2015-07-08 15:56] marscher commented on #4
pypi package uploaded for 1.0

[2015-07-08 16:10] marscher commented on #4
conda package PR: omnia-md/conda-recipes#251

[2015-07-09 15:16] marscher opened #6 "Use eigh for reversible matrix decomposition"
_From @franknoe on June 24, 2015 5:42_

In msm.analysis.(dense/sparse).decomposition, we have successfully used the reversible-option in eigenvalues in order to quickly compute eigenvalues of reversible matrices. Extend this functionality to eigenvector and RDL decomposition. The right/left eigenvectors can be computed from the eigenvectors of the symmetrized matrix by multiplying them by 1/sqrt(p

[2015-07-09 15:20] trendelkampschroer commented on #6
@marscher Thanks for sorting things out!

[2015-07-09 15:23] marscher opened #7 "tpt pathway decomposition fails when requesting all pathways"
_From @franknoe on April 14, 2015 23:53_

In the BPTI notebook, when requesting all pathways by:

[code]

or

[code]

this exception happens:

[code]

_Copied from original issue: markovmodel/PyEMMA#251_

[2015-07-09 15:23] marscher commented on #7
find_bottleneck does not handle the case of an empty flux matrix

[2015-07-09 15:23] marscher commented on #7
_From @trendelkampschroer on July 1, 2015 15:10_

@franknoe: Could you point me to the location for the BPTI notebook and the resources required to run it. Starting from there I will try to find out what went wrong.

@marscher: Thanks for pointing out this problem in find_bottleneck. I will have a look at it too.

[2015-07-09 15:23] marscher commented on #7
_From @franknoe on July 1, 2015 15:12_

I think you can just use the tpt ipython notebook because BPTI is not
needed for that. If you ask the pathway decomposition to give the
fraction 1.0 (all) of the pathways, then there is an exception.

Am 01/07/15 um 17:10 schrieb Benjamin Trendelkamp-Schroer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berli

[2015-07-09 15:23] marscher commented on #7
_From @trendelkampschroer on July 1, 2015 15:14_

Okay will do that.

[2015-07-09 15:23] marscher commented on #7
_From @trendelkampschroer on July 9, 2015 15:23_

This has been fixed by e37c082a2ea5251edd9c639889d9abffb7ef5fed

[2015-07-09 15:25] marscher opened #8 "Use eigh for reversible matrix decomposition"
_From @franknoe on June 24, 2015 5:42_

In msm.analysis.(dense/sparse).decomposition, we have successfully used the reversible-option in eigenvalues in order to quickly compute eigenvalues of reversible matrices. Extend this functionality to eigenvector and RDL decomposition. The right/left eigenvectors can be computed from the eigenvectors of the symmetrized matrix by multiplying them by 1/sqrt(p

[2015-07-09 15:25] marscher commented on #8
This issue was moved to markovmodel/msmtools#6

[2015-07-09 15:27] #4 closed, assigned to nobody

[2015-07-09 15:27] marscher commented on #3
done

[2015-07-09 15:27] #3 closed, assigned to nobody

[2015-07-09 17:33] marscher opened #9 "test_generation fails randomly"
[code]

[2015-07-09 20:04] franknoe opened #10 "reversible transition matrix sampling and C-extension"
(Moved from pyEMMA#124)

Replace stallone-call to reversible transition matrix sampling by python code. The pure python code can be grabbed from here:

[code]

There's also a cython implementation but that gives only a mild speedup that won't be acceptable for large matrices. Need to write a C-extension to get a sizable speedup.

There's a lot of c-code around that can be used for the generation o

[2015-07-09 20:05] franknoe opened #11 "reversible transition matrix sampling with fixed stationary distribution"
see #10
Corresponding steps for rev T-matrix sampling wiht fixed stat dist.

[2015-07-09 20:07] franknoe opened #12 "rename msm.io to avoid shadowing python package io"
(moved from pyEMMA)
since this breaks the api, we should do this in 1.3 and deprecate it somehow (I currently do not know what is the best practice to deprecate a package name).

But actually the issue of shadowing is not a big deal, since it only affects imports one level above "io". So in principle we can not import the builtin.io at level of the msm package. In my opinion this only creates work

[2015-07-09 22:16] franknoe commented on #12
ok, then I close this.

[2015-07-09 22:16] #12 closed, assigned to nobody

[2015-07-10 14:36] #7 closed, assigned to trendelkampschroer

[2015-07-10 15:00] trendelkampschroer commented on #5
I do not get these failures on my machine. I have 'silenced' some tests which might cause the error on your machine on a seperate branch.

Can you pull the branch 'fix_decomp_test' from my personal fork
https://github.com/trendelkampschroer/msmtools.git

and tell me if the tests are still failing on your machine?

Best,

Ben

[2015-07-10 15:49] #9 closed, assigned to nobody

[2015-07-10 15:50] trendelkampschroer commented on #9
Fixed by #13

[2015-07-13 14:31] fabian-paul opened #14 "pyemma.msm.io.read_dtraj behaves unexpectedly when file contains floats"
Don't know is this is still an issue in msmtools. In pyemma, I get this strange result.

[code]

I think the correct behavior would be to raise an exception of to cast to int.

[2015-07-13 14:31] marscher opened #15 "pyemma.msm.io.read_dtraj behaves unexpectedly when file contains floats"
_From @fabian-paul on July 13, 2015 14:28_

[code]

I think the correct behavior would be to raise an exception of to cast to int.

_Copied from original issue: markovmodel/PyEMMA#414_

[2015-07-13 14:31] marscher commented on #15
thanks for reporting, this issue belongs now to msmtools repo

[2015-07-13 14:35] #14 closed, assigned to nobody

[2015-07-13 14:38] fabian-paul opened #16 "implement SIGINT/Ctrl-C handler in reversible estimator"
It would be nice if the reversible estimator could be stopped in an Ipython notebook by clicking Kernel->Interrupt. It seems that one needs to implement a handler in the C extension for this to work.

[2015-07-13 15:21] marscher commented on #16
writing a signal handler is a no brainer, in case you just want to forcefully terminate the function execution.

[2015-07-13 15:21] marscher commented on #8
duplicate

[2015-07-13 15:21] #8 closed, assigned to trendelkampschroer

[2015-07-13 15:24] marscher commented on #15
read_dtraj uses dtype=int, so it might get confused by floating point input data. That was never intended to use, but it should be more robust. Reading as float and casting down to float might be an option.

[2015-07-13 16:09] marscher opened #17 "Consider Python3 compatibility for more impact."
It should be easy to achieve with tools like 2to3 etc.

[2015-07-13 16:57] franknoe commented on #17
Good idea.

Am 13/07/15 um 18:09 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2015-07-14 07:55] fabian-paul commented on #16
Ok, then thank you for nothing! ;-)

[2015-07-14 07:56] fabian-paul commented on #16
Why can't I assign myself to the issue here on github?

[2015-07-14 10:52] marscher commented on #16
good questions.

[2015-07-14 14:14] #6 closed, assigned to trendelkampschroer

[2015-07-14 15:19] trendelkampschroer commented on #15
The function read_dtraj uses numpy.fromstring to make reading ascii-dtrajs as fast as possible. Unfortunately np.fromstring does not check whether the requested data-type is the type specified in the file.

I posted an numpy issue about this,

https://github.com/numpy/numpy/issues/6076

The current implementation of read_dtraj is very fast compared to np.loadtxt and I wouldn't like to sacrifice th

[2015-07-14 15:20] trendelkampschroer commented on #17
I like it very much, thanks for looking into it.

[2015-07-14 15:20] franknoe commented on #17
Yes, thanks!

Am 14/07/15 um 17:20 schrieb Benjamin Trendelkamp-Schroer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2015-07-14 16:50] marscher commented on #17
done

[2015-07-14 16:50] #17 closed, assigned to nobody

[2015-07-14 16:51] marscher opened #22 "write a new readme"
this should be done soon, since setup.py reads this in for descriptive lines on PyPI.

[2015-07-14 18:38] marscher commented on #15
The speedup is most probable due to not type checking every element. The question is, what we want to have: 1. robustness or 2. speed.

[2015-07-14 18:39] franknoe commented on #15
Can't we catch that problem and sort it out afterwards?

Am 14/07/15 um 20:38 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2015-07-14 18:46] marscher commented on #15
then we would need to write our own parser, since numpy does not give us an exception and an incomplete "array" of values red so far.

[2015-07-14 18:47] franknoe commented on #15
No, don't do that. Can we read a small chunk of the data and decide
based on that if everything worked?

Am 14/07/15 um 20:46 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2015-07-14 18:48] marscher commented on #15
Like the coordinates.data.py_csv_reader? :+1:

[2015-07-14 18:49] marscher commented on #15
we just need to add error checking there.

[2015-07-14 18:51] marscher commented on #15
For super large files it may the only way reading such a file actually will work. So the speedup from using a (in my opinion) incomplete reader genfromtxt is neglect-able.

[2015-07-15 18:00] trendelkampschroer opened #24 "imports in __init__.py files"
@marscher

I ran into trouble because there are now imports in _nearly all_ **init**.py files. Is that really necessary?

[2015-07-16 15:19] trendelkampschroer commented on #11
Fixed by #28

[2015-07-16 15:19] #11 closed, assigned to trendelkampschroer

[2015-07-16 15:19] trendelkampschroer commented on #10
Fixed by #28

[2015-07-16 15:19] #10 closed, assigned to trendelkampschroer

[2015-07-17 08:22] fabian-paul commented on #15
While the numpy folks fix this, why can't we cast explicitly?

[code]

By the way, np.fromstring doesn't raise any exception, even for nonsense data

[code]

[2015-07-17 08:41] trendelkampschroer commented on #15
@fabian-paul: This seems to be an easy fix. I think it depends on what we want to encourage/support in the usage.

a) Force the user to ensure that a dtraj is really a one column file of ints
b) Support everything that can be casted to a 1-dim array of ints

I would rather raise an Error if the user supplies dtrajs in the wrong format, so that he can have a look at his input and decide if somethin

[2015-07-17 08:51] fabian-paul commented on #15
I also favor raising an exception. It's just that numpy is outstandingly stupid in the handling of integers.
Saving an array of ints with np.savetxt generates a file with floats! Then when you try to read that in again with np.fromstring, you get only the first element. How dumb is that!
I think the numpy developers have to fix these two things before we rely on these functions. I hope that this w

[2015-07-17 08:53] trendelkampschroer commented on #24
Apparently it is necessary for now.

[2015-07-17 08:53] #24 closed, assigned to nobody

[2015-07-17 09:03] trendelkampschroer commented on #15
I wouldn't say it as strong as that:

http://docs.scipy.org/doc/numpy/reference/generated/numpy.savetxt.html

it clearly has to do with convention for the fmt keyword in numpy.savetxt. I think it is easy to overlook that np.savetxt requires you to specify an integer format if you want ints in the file, since the default format is scientific with 18 digits precision. I don't think the numpy develop

[2015-07-17 15:23] marscher opened #32 "compilation failure windows"
c:\users\appveyor\appdata\local\temp\1\pip-dijvuv-build\msmtools\estimation\dense\sample_rev.h(28) : fatal error C1083: Cannot open include file: 'stdbool.h': No such file or directory

[2015-07-17 15:32] rmcgibbo commented on #32
No c99 with msvc. If you use the c++ compilers instead, even with c ABI, its much better.

[2015-07-17 15:32] franknoe commented on #32
Hmm, gibts vielleicht nicht für den MS VirtualC++ compiler? Ich habe
keine Ahnung. Im Prinzip ist das mit den bools nicht wichtig, man kann
auch 1 oder 0 ints zurückgeben.

Am 17/07/15 um 17:23 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimall

[2015-07-17 15:53] marscher commented on #32
@rmcgibbo so you're suggesting to compile all c code with c++ compiler on windows?

[2015-07-17 16:03] rmcgibbo commented on #32
Yep. I'm not sure exactly how to do it though. Renaming the .c files to .cc
or .cpp might be enough, not sure.
On Jul 17, 2015 8:53 AM, "Martin K. Scherer" notifications@github.com
wrote:

[2015-07-17 19:49] franknoe commented on #32
BTW, welcome to msmtools Robert. This is the package I have mentioned at
our last omnia meeting where we could start collecting low-level algos
that are useful for both of us. The package name is still preliminary.
Please have a look and let us know what you think, and if you see
possibilities for joining forces here.

Am 17/07/15 um 17:32 schrieb Robert T. McGibbon:

##

---

Prof. Dr. Frank Noe

[2015-07-18 18:22] franknoe opened #34 "estimation.effective_count_matrix is slow"
estimation.effective_count_matrix is slow for large data sets, especially with the setting truncate_acf=False. This can probably be sped up by a lot.
Essentially a lot of damped autocorrelation functions are computed which itself could be sped up. In addition the looping through the acf's from different trajectories is probably unnecessarily slow.

[2015-07-18 19:33] franknoe opened #35 "transition matrix sampler tests"
None of the transition matrix sampler tests do test whether the right distribution is sampled. At least the 1D and 2D density validations in the paper should be mapped to a test.

A general way of testing a Bayesian model is to fix a transition matrix P, then generate N trajectories of a fixed length from it. Using transition matrix sampling on each of the count matrices, we should find that on av

[2015-07-20 15:58] marscher commented on #32
maybe by adding language='c++' to the extension declaration in setup.py. Renaming the units to have '.cpp' suffix does not solve the problem.

[2015-07-22 17:59] #32 closed, assigned to nobody

[2015-07-28 09:30] franknoe commented on #22
Ben, can you do that?

[2015-07-28 10:32] marscher opened #40 "doctest largest_connected_submatrix fails on py3.4"
[code]

[2015-07-28 10:36] franknoe commented on #40
Has the default datatype when creating an array changed?

Am 28/07/15 um 12:32 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2015-07-28 11:43] marscher commented on #40
seems like that. So maybe we should pin it down to 32bits?

[2015-07-28 11:45] franknoe commented on #40
Since this is just for the doctest, why not int?

Am 28/07/15 um 13:43 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2015-07-28 11:53] marscher commented on #40
So we always use int64 for dtrajs, but the difference with the doctest is, that on Python3.4 Numpy spits out the dtype, which is not the case for 2.7 Numpy.

[2015-07-28 11:53] marscher commented on #40
will fix that.

[2015-07-28 11:58] trendelkampschroer commented on #22
Sure, will have a look at it.

[2015-07-28 12:50] #22 closed, assigned to trendelkampschroer

[2015-07-28 12:51] #16 closed, assigned to nobody

[2015-07-28 14:14] #40 closed, assigned to nobody

[2015-08-04 17:04] franknoe opened #44 "non-converged transition matrix estimates: are they reversible?"
Is it possible that a transition matrix estimate returned by the reversible MLE if convergence within maxiter fails, is not reversible? I just ran into this pair of warnings. Since this happens within HMM sampling it's nontrivial to isolate a nice test case, so maybe the MLE code experts could have a look if for that case (exit due to iter > maxiter), some additional precautions to make sure that

[2015-08-24 18:30] franknoe opened #46 "Change license to LGPL"
As discussed in the last Omnia meeting. LGPL is a little less permissive than BSD and ensures that people making changes/improvements to our code have to contribute these changes.

Honestly, I have no idea what it means to change the license in a running project. I guess all code from previous versions is still effectively under BSD because BSD is more permissive.

In the current project state I d

[2015-08-25 14:20] trendelkampschroer commented on #46
LGPL is okay for me. What about GPL or is omnia all LGPL?

[2015-08-25 14:24] franknoe commented on #46
Yes LGPL. GLP is too restrictive in my point of view. That would mean
that pyEMMA would not be useful to companies.

Am 25/08/15 um 16:20 schrieb Benjamin Trendelkamp-Schroer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2015-08-25 14:26] trendelkampschroer commented on #46
Okay, I understand.

[2015-08-25 16:40] trendelkampschroer commented on #35
Fixed by #47

[2015-08-25 16:40] #35 closed, assigned to nobody

[2015-08-31 08:58] #46 closed, assigned to nobody

[2015-08-31 08:59] franknoe commented on #46
Done by #52

[2015-09-01 04:54] franknoe opened #53 "Add rate matrix estimation"
I am just copying this issue from PyEMMA. Probably the text below is outdated though.

@fabian-paul , whenever you feel confident about the robustness of your rate matrix estimation, please commit a separate feature branch. We will include it in the 1.3 release (I will do the merge).

I suggest to do this as follows:
1. Add a new method to pyemma.msm.estimation. I'm not sure exactly what the input

[2015-09-10 16:34] franknoe opened #56 "Metastable decomposition of nonreversible P-matrices with Schur decomposition"
Study and consider implementing this approach:

https://opus4.kobv.de/opus4-zib/frontdoor/index/index/docId/5573

There might be something to do about the interpretation of the resulting vectors in terms of metastable sets.

[2015-09-27 19:48] franknoe opened #58 "Improve documention"
The msmtools documentation:

[code]

Is a naked API documentation. At least it should contain a welcome page with a description what the package does and installation instructions.

[2015-10-08 23:28] euhruska opened #60 "timescale_sensitivity not found"
I try to calculate timescale_sensitivity, butit doesn't find it. On the other side other commands works, liek timescales. I update the msmtools, but it still doesn't find it.

[code]

[2015-10-09 12:32] marscher commented on #60
fixed by #61

[2015-10-09 12:32] #60 closed, assigned to nobody

[2015-10-09 12:32] marscher commented on #60
Thanks for spotting!

[2015-11-20 14:25] #34 closed, assigned to nobody

[2015-11-25 13:11] franknoe commented on #58
This issue should be addressed. There is currently no reason to become interested in msmtools based on this site...

[2015-11-26 16:07] trendelkampschroer opened #66 "util.statistics.confidence_interval fails for constant data"
[code]

Fails with index out of bounds error.  @franknoe: Can you have a look at this.

[2015-11-26 17:39] franknoe commented on #66
Sure, I will

[2015-11-27 10:25] trendelkampschroer commented on #66
@franknoe: Thanks for the quick fix. It looks good to me.

If we want to compute the credibility interval/percentile of the given data we can think about using np.percentile inside of util.statistics.confidence_interval in the future

[code]

[2015-11-27 10:27] #66 closed, assigned to nobody

[2015-11-27 14:47] franknoe commented on #66
Ah, I didn't know this! Sure, I'm all for replacing homegrown solutions by
standartized ones.

[2015-12-13 15:24] franknoe opened #69 "Reversible decompositions should return real numbes"
Reversible decompositions should return purely reals, i.e. use *.real on the result before returning it. This affects all eigenvalue and eigenvector decompositions. Example:

[code]

currently returns:

[code]

The diagonal array has complex format, but should be real.

[2015-12-14 15:10] franknoe opened #70 "T-matrix sampler fails input check for pathologic (but correct) count matrices"
In the T-matrix sampler it is being checked whether the sparsity pattern of the initial transition matrix and the count matrix are consistent. One would think that this is always the case when we estimate the transition matrix ourselves (i.e. when the input parameter for the initial T-matrix is 'None'). However it can happen that for count matrix with very small fractional counts (which do occur e

[2015-12-16 00:03] franknoe opened #71 "dense transition matrix estimation is SLOW"
I'm not sure why we haven't implemented the _dense_ reversible transition matrix in C yet (it's still using my old code). Perhaps it's usually not used because most MSM transition matrices are sparse, or perhaps because the numpy impl is not too bad when the matrix is large enough. Anyway, here's a situation where our numpy code is unacceptably slow, so we should really replace it by a C impl as s

[2015-12-16 00:14] franknoe opened #72 "sparse and dense reversible transition matrix estimation have different defaults"
The two methods

[code]

have different defaults for the `maxerr` parameter. This results in the fact that for some count matrices one implementation will converge, the other one won't converge with the default setting, and what's worse you will get different results.

What about defining the convergence parameters explicitly on the API level (msmtools.estimation.transition_matrix)? In nonreversib

[2015-12-17 10:19] fabian-paul commented on #71
We should check first whether the convergence criteria are actually the same in the two implementations.

[2015-12-17 11:04] franknoe commented on #71
This was enforcing the same convergence criteria

Am 17/12/15 um 11:19 schrieb fabian-paul:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2015-12-17 16:47] fabian-paul commented on #71
With the unified metrics it's 12.6 s per loop vs.  746 ms per loop.

[2015-12-18 09:02] trendelkampschroer commented on #71
I am not sure if we should use relative errors to check convergence of pi, that seems to be very restrictive, but you have a point in that checking relative errors of pi amounts to checking absolute errors on free energies we have to decide.

The iterative algorithm works solely with probabilities \pi or rather non-normalized weights x, checking the convergence of \log(pi)/\log(x) is a bit unintui

[2015-12-18 13:12] fabian-paul commented on #71
Ah no, that 12.6s  vs. 746ms comparison is the dense python implementation versus the sparse C implementation. But we should check how the change of criterion influences the run-time in order to not to surprise the users.

[2015-12-18 13:19] fabian-paul commented on #71
The new version of the algorithm works with the normalized x vector (which converges to the stationary vector). Well it isn't clear to me either that covergence can actually be achieved when some elements of x become very small. Perhaps from a physical point of view one could introduce a new parameter for the "smallest interesting" value of x? Maybe one is interested in coverging free energies aro

[2015-12-18 13:30] fabian-paul commented on #44
This is addressed in PR #74. Return values of the reversible estimators always fulfil pi_i T_ij = p_j T_ji but the diagonal elements are wrong to that we can't conclude from that equation that sim_i pi_i T_ij = pi_j. Therefore for example stationary_distribution() fails.
Fixing the normalization gives a formally correct T matrix that fulfils detailed balance with its own stationary distribution.

[2015-12-18 14:08] fabian-paul commented on #71
Some empirical testing shows that new termination condition doesn't make things much slower. For dense matrices of sizes 5x5 to 300x300 and counts in the range of 1-1000, I see a 15% slowdown.

[2015-12-19 23:33] #71 closed, assigned to nobody

[2015-12-19 23:33] #72 closed, assigned to nobody

[2016-06-23 13:36] hexcoffee opened #86 "Installing msmtools using "pip install msmtools" fails"
@cwehmeyer asked me to post this issue. I called "pip install msmtools" on my Windows machine and it didn't work. This was the error report:

[code]

[2016-06-23 13:41] marscher commented on #86
Do you have a C compiler installed?

https://stackoverflow.com/questions/101061/building-python-c-extension-modules-for-windows

I'm also curious why you are trying to compile yourself instead of using
conda :)

[2016-06-23 13:45] marscher commented on #86
https://stackoverflow.com/questions/2817869/error-unable-to-find-vcvarsall-bat This is probably a better compendium to read.

[2016-06-23 13:45] #86 closed, assigned to nobody

[2016-06-23 13:46] fabian-paul commented on #86
Maybe this helps: we ran into this problem many times during the Pyemma workshop. Often the cause was that people installed anaconda python on top of an already present python installation and this confused the compiler. The solution was to remove python and start with a clean anaconda installation.

[2016-06-23 13:46] marscher commented on #86
This message clearly indicates that Visual Studio is not set up properly.

[2016-06-23 13:48] hexcoffee commented on #86
Yes, it worked with "conda install msmtools".
I have VC++ installed. I did not have some python installed before installing anaconda python.

[2016-06-23 13:49] marscher commented on #86
great

[2016-08-01 15:10] fabian-paul commented on #70
The sparsity-pattern of P is unreliable, because it depends on the maximum number of iterations, the ML estimator is instructed to perform.
Does the sparsity-pattern of matrices generated by the sampler depend on the initial guess of P? That is, if some connectivity is lost in one sample, is it lost as well in all subsequent P samples?

[2016-08-11 15:34] marscher commented on #58
done:  http://msmtools.readthedocs.io/en/latest/index.html

[2016-08-11 15:34] #58 closed, assigned to nobody

[2016-09-23 13:49] marscher commented on #44
since #74 is merged, I close this now.

[2016-09-23 13:49] #44 closed, assigned to nobody

[2016-10-21 17:24] franknoe opened #93 "release msmtools"
please cut a new release with the rate matrix estimator being merged.

[2016-10-24 13:31] marscher commented on #93
omnia-md/conda-recipes#619 something is wrong with anaconda cloud today (502 http errors, maybe DDOs attacks again).

[2016-10-24 19:55] #93 closed, assigned to nobody

[2016-11-14 13:01] gph82 commented on #7
Hi I'm still getting this issue (i think it's this one, that's why I'm not opening a new one). Needed file attached is [test.npy.zip](https://github.com/markovmodel/msmtools/files/589270/test.npy.zip)

[code]

[2016-11-30 20:54] greenTara opened #95 "Generation of multiple trajectories should allow different starting states"
In the generation api there is a method for generating M trajectories

trajectories(self, M, N, start=None, stop=None):

As now implemented, start is only allowed to be None or int, so it is only possible to specify the same starting state for multiple trajectories. This causes problems when we try to use this for non-stationary MM because we want to continue the generation with a new transition m

[2016-12-01 10:27] franknoe commented on #95
You mean generate_trajectories? OK, but you can call generate_trajectory
multiple times and that would probably not be a performance issue.

Am 30/11/16 um 21:54 schrieb Tara Athan:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimalle

[2017-05-16 20:12] franknoe opened #99 "Release"
Can we cut a msmtools release? It seems we haven't released since October '16, and there are two new useful features since then.

[2017-05-17 05:42] marscher commented on #99
uploaded on conda-forge and pypi. Shall I also do it on omnia?

[2017-05-17 13:08] franknoe commented on #99
Yes, we need to give people some time to change to Conda forge. Let's say end of the year? 
In PyEMMA maybe we can generate an import warning if the user has a Conda install and the Conda forge channel is not added 

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: "Martin K. Scherer" <notifications@github.com>
Date: 5/17/17  12:42 AM  (GMT-06:00)
To: markovmodel/msmto

[2017-05-17 13:42] marscher commented on #99
On 05/17/2017 08:08 AM, Frank Noe wrote:

I was also thinking about that. Luckily one can add patches in conda-recipes, so we can easily add this. Probably for all of the omnia packages
all together.

[2017-07-16 02:49] zhanghaomiao opened #102 "PCCA Problem (flatten cause error)"
There is a [flatten Problem](https://github.com/markovmodel/msmtools/blob/devel/msmtools/analysis/dense/pcca.py) in the code

[code]
when using the `flatten`, there is a problem.
For example, if the `closed_components_ev` is
`[np.array([1,1]),np.array([2,3,4])]` the `flatten()` function cannot convert `closed_components_ev` to one dimensional array.
So, the `np.argsort` will cause a problem.

On m

[2017-07-16 07:27] marscher commented on #102
thanks, but the input arguments here are guaranteed to always have the same shape. Or could you provide any input to pcca() which will cause the problem you have just described?

[2017-07-17 13:00] zhanghaomiao commented on #102
For example , the code
[code]
will cause a sort problem

Traceback (most recent call last):
  File "/home/haomiao/code/markov/test/test_pathway.py", line 12, in <module>
    chi = pcca(transition_matrix,2)
  File "/home/haomiao/soft/anaconda3/lib/python3.6/site-packages/msmtools/analysis/dense/pcca.py", line 419, in pcca
    component_indexes = closed_components_enum_flat[np.argsort(closed_compone

[2017-07-17 13:05] marscher commented on #102
Thank you for identifying and demonstrating the problem! We will change
that or do you want to submit a pull request for that?

[2017-07-17 13:13] zhanghaomiao commented on #102
You're welcome,  you change that is ok.
By the way, I learned a lot from your code, Thanks!

[2017-07-17 14:45] #99 closed, assigned to marscher

[2017-07-17 14:50] marscher opened #103 "eigensolver broken for Python 3.5 and Numpy 1.9"
https://travis-ci.org/markovmodel/msmtools/jobs/254465976

Summary:
The eigensolver does not fulfil the tests for sparse and dense RDL decomposition (stationary distribution from eigenvector as well). The abbreviation is very large for the sparse code (10 orders of magnitude).

This is actually a minor issue, since NumPy 1.9 is fairly outdated and not supported by either Omnia nor Conda-forge. How

[2017-07-17 14:50] #103 closed, assigned to nobody

[2017-09-06 16:21] #102 closed, assigned to nobody

[2018-01-16 15:45] marscher opened #105 "msm.analysis and msm.analysis.sparse: Decompositions should treat special cases."
originally posted by @franknoe

Two cases with sparse matrix decompositions have come up that should be dealt with in msm.analysis and msm.analysis.sparse:
1. If a 2x2 matrix is given as sparse matrix, the sparse decomposition cannot be applied. E.g.:
[code]
doesn't converge. This should be handled in msm.analysis.rdl_decomposition: If a 2x2 matrix is passed or if too many eigenvalues are asked fo

[2018-02-26 13:23] marscher opened #106 "ReactiveFlux pathway decomposition does not treat empty flux matrix"
if flux.sparse.pathways.pathway is called with an F with nnz=0 (no positive elements), the function still tries to find a pathway, which leads to an IndexError in find_bottleneck().

[code]

[2018-06-23 12:15] #106 closed, assigned to nobody

[2018-06-23 13:45] marscher opened #109 "CI does not execute all tests"
CI executes 192 tests, while lcoally 289 tests are being picked up...

[2018-06-25 16:13] marscher commented on #109
fixed in #108

[2018-06-25 16:13] #109 closed, assigned to nobody

[2018-09-06 11:41] zhanghaomiao opened #113 "how the backward_committor is calculated?"
when the `backward_committor` is calculated, you use the adjoint of the generator matrix

<a href="https://www.codecogs.com/eqnedit.php?latex=$$K&space;=&space;D_{\pi}(P-I)^{T}$$" target="_blank"><img src="https://latex.codecogs.com/gif.latex?$$K&space;=&space;D_{\pi}(P-I)^{T}$$" title="$$K = D_{\pi}(P-I)^{T}$$" /></a>

I Know when the transition probablity matrix is not reversible, the `backward_

[2018-09-06 12:22] marscher commented on #113
@trendelkampschroer Are these equations taken from some text book or have you derived these yourself?

[2018-09-06 12:38] franknoe commented on #113
You can find the equations for a transition matrix in the SI of this paper (copied below):
    http://www.pnas.org/content/106/45/19011

I don't think msmtools uses 1-forward committors to compute the backward committor unless you have a reversible matrix. The expression above is probably used to compute coefficients for the linear solver.
If in doubt, please refer to the line of code.

![image](h

[2018-09-06 13:23] zhanghaomiao commented on #113
@franknoe @marscher Thanks, I get it.

[2018-09-06 13:23] #113 closed, assigned to nobody

[2018-11-06 18:39] marscher commented on #53
fixed by #57

[2018-11-06 18:39] #53 closed, assigned to nobody

[2018-11-12 14:03] marscher commented on #70
fixed by #91

[2018-11-12 14:03] #70 closed, assigned to trendelkampschroer

[2019-03-11 12:47] pckroon opened #118 "msmtools.analysis.dense.pcca._pcca_connected incorrect?"
Hi all,

I tried to adapt your spectral PCCA clustering code for my own purposes, and I think I have stumbled across a bug in your code. It concerns this line: https://github.com/markovmodel/msmtools/blob/54dc76dd2113a0e8f3d15d5316abab41402941be/msmtools/analysis/dense/pcca.py#L307
The comment above states that the memberships should be nonnegative (up to numerical errors). However, in my case the

[2019-03-11 14:03] fabian-paul commented on #118
Hi Peter,

currently the algorithm works only if the the input is a normalized transition matrix. If it is not normalized (e.g. if you input a count matrix), the output is no longer guaranteed to be valid a memberships matrix. I would have to dig a bit into the code to see exactly where this assumption was make and how it can be replaced (it probably can).

Can you formulate your problem with a no

[2019-03-11 14:53] pckroon commented on #118
Hi Fabian,

thanks for the rapid reply. I'm going to dump some code and numbers on you :)
As test case I'll try to PCCA cluster a 6 membered ring into 3 clusters.

First the unnormalized case:
[code]
And the normalized version:
[code]

Or am I doing the normalization wrong?

[2019-03-11 15:39] pckroon commented on #118
Also, when normalizing the found memberships differently, a different answer is found (duh).

Consider the following alternative:
[code]
This gives me the following final memberships:
[code]
Instead of
[code]

I don't know which one should be considered correct though.

[2019-03-11 15:58] fabian-paul commented on #118
Strange,... why is this happening?
I don't get any negative values:
[code]
[code]
Commenting out the section
[code]
makes no difference.

Are your eigenvectors othonormalized? _opt_soft is quite picky about its input.

[2019-03-11 16:08] fabian-paul commented on #118
I almost sure that you wont get any correct solution if the input transition matrix is not normalized. Formally the "correct" solution is the one that maximizes the objective function: https://github.com/markovmodel/msmtools/blob/devel/msmtools/analysis/dense/pcca.py#L173
However evaluating this function for an arbitrary coarse-grained t-matrix (t-matrix + memberships) might be quite technical...

[2019-03-12 09:00] pckroon commented on #118
I found it, I made a booboo in isolating the code from msmtools... In particular, here:
https://github.com/markovmodel/msmtools/blob/devel/msmtools/analysis/dense/pcca.py#L287
Because `pi` is not, in fact, pi but rather the stationary distribution.
Thanks a lot for your help :)

[2019-03-12 09:00] #118 closed, assigned to nobody

[2019-03-13 10:09] pckroon commented on #118
Some final remarks:
1) In my case I'm guaranteed to have symmetric transition matrices, which makes things easier
2) orthonormalization is the same as dividing by the constant eigenvector
3) If I do `_soft_opt` with the unnormalized case I get negative memberships (as expected). If I then renormalize the memberships as I do here https://github.com/markovmodel/msmtools/issues/118#issuecomment-47159

[2019-09-25 11:51] #5 closed, assigned to nobody

[2019-09-25 14:10] marscher commented on #56
@msmdev Have you started working on this now? If you need any help, I'd be happy to answer any question.

[2019-09-25 14:10] #95 closed, assigned to nobody

[2019-09-25 14:11] marscher commented on #15
fixed upstream

[2019-09-25 14:11] #15 closed, assigned to nobody

[2019-09-25 14:35] fabian-paul commented on #56
Let me remark that I wrote an experimental version [here](https://github.com/fabian-paul/msmtools/blob/gpcca/msmtools/analysis/dense/pcca.py). It's a minimal working version which needs some rewriting.

[2019-09-25 14:58] #69 closed, assigned to nobody

[2019-09-26 12:17] #105 closed, assigned to nobody

[2019-09-26 12:19] marscher commented on #56
I think that is very useful as a starting point! Could you please elaborate a bit, which parts one would need to rewrite/optimize/fix?

[2019-09-26 14:16] msmdev commented on #56
@marscher I just started to dig into Fabians code... As far as I can say at the moment, one needs to address several points. Some input from Fabian here from his point of view would be most welcome here :)

[2019-09-26 15:48] fabian-paul commented on #56
Here are a few questions/decisions that come to mind:

* Use interface: should g-pcca and pcca be accessed through the same function (with an optional reversible=True/False flag) or should be have two different functions? Also reversible PCCA currently contains a lot of special logic to handle absorbing states, which does not conserve the spectral properties of the T matrix and which isn't require

[2019-09-26 16:09] marscher commented on #56
my 50 cents to your points:
1. If g-pcca is considered superior to pcca++, we should also use it for the reversible case, right? If not, we should provide a switch like you suggested, but keep both implementations separated to avoid side-effects.
2. dunno
3. I would avoid taking extra time reinventing the wheel :)
4. Usually the number of metastable states is low in our systems, but since we want

[2019-09-26 16:27] franknoe commented on #56
I do not agree to 1. The Schur decomposition approach is for nonreversible setting, why would we replace the reversible algorithm with it?

[2019-09-26 16:36] fabian-paul commented on #56
@marscher has a point. In the reversible setting (and provided that we pass in the stationary distribution to the algorithm), the Schur decomposition is just an eigendecomposition. So (except for the handling of disconnected states in the reversible implementation) G-PCCA is a true generalization of PCCA. Also I think, PCCA is typically applied to the connected set of T matrices. So G-PCCA could r

[2019-09-26 16:36] marscher commented on #56
Because it does not suffer from the issues of degenerated transition matrices, which has to be accounted by pcca. That's why I thought it could be considered a superior algorithm and should be chosen by default.

[2019-09-26 16:38] marscher commented on #56
I agree, that we should keep both implementations in msmtools. In PyEMMA/Scikit-Time we should preferably use g-pcca in the end.

[2019-09-27 11:57] msmdev commented on #56
I will write my comments below the original points for clarity:

Since G-PCCA is the true and natural generalization of PCCA there is indeed no need to use PCCA any longer. Anyway it might be true that many users could be uncomfortable at first to trust G-PCCA and might want to compare results of PCCA and G-PCCA (for reversible T). So I would advise to write two separate functions (at least at the

[2019-09-27 12:21] msmdev commented on #56
@franknoe it is quite natural to use G-PCCA (and Schur) for both reversible and nonreversible cases, since the Schur decomposition simply reduces to the spectral decomposition in the reversible case (more precisely for irreducible, symmetric and positive-definite Markov chains).

[2019-10-28 14:46] marscher commented on #56
We can use this (tested?) Fortran code and bridge it with f2py, when there are no volunteers to reformulate the optimization problem. I could provide this bridge, when you push the code somewhere. It is then usable from Python with no headache.

[2019-11-05 09:14] msmdev commented on #56
@marscher I haven't tested the Fortran code, but used the MATLAB variant, which seems to be a quite direct translation of the Fortran original.
Still we could bridge to Fortran and run some tests (I have several test cases...) to check its sanity.
I'm still working on the G-PCCA implementation in MSMTools. Hopefully, I will finish this within the next weeks (I'm currently a little busy - I switche

[2020-03-24 15:27] Marius1311 commented on #56
Hi all, I would be really interested in trying this out, is there any progress on implementing G-PCCA in msmtools? Or is there any other python implementation available?

[2020-03-24 15:57] fabian-paul commented on #56
Hi Marius,
here is a first version:
https://github.com/fabian-paul/msmtools/blob/gpcca/msmtools/analysis/dense/pcca.py#L394
I think it's functional, but @msmdev planned to improve it further. Not sure if there is any interest in continuing the development of PCCA. Your help would be greatly appreciated by the community.
Fabian

[2020-03-24 16:05] msmdev commented on #56
Hi, Marius! This is still work in progress (at least from my side...) and currently very untidy. I took a look on Fabians implementation, but decided to start again from scratch for most parts. I started, but did't make a lot of progress, since I have a lot on my list. The Matlab implementation on the other side is fully functional (https://github.com/msmdev/gpcca). At some point I will port it to

[2020-03-24 16:16] msmdev commented on #56
Ok, I took a look on what I already have and it isn't so bad. I will try to invest a few hours on the weekend and see how close to functional this will get the code... Good you asked and thus reminded me :)

[2020-03-24 17:52] Marius1311 commented on #56
Wow, thanks a lot, that was fast! I will check out what @fabian-paul posted and get back to you! Maybe that already does the job for me. If not, would be happy to get involved!

[2020-03-24 19:38] msmdev commented on #56
As far as I remember there was some issue with the implementation of @fabian-paul, but I currently can't put my finger on it... I hope to get back into this on the weekend.

[2020-03-24 20:00] fabian-paul commented on #56
I think @msmdev had a better (simpler) idea than me for how to handle the case of degenerate eigenvalues (repeated eigenvalues that are typically 1). This situation can come up in disconnected Markov models.

[2020-04-03 15:28] Marius1311 commented on #56
Hi all, we are still experimenting with @fabian-paul 's gpcca implementation - are there any news from @msmdev regarding your implementation? I also had a general question regarding scalability: there is no sparse python implementation of the real schur decomposition, is there? The problems we would like to apply your tools to are quite large (~1k - 100k states)

[2020-04-03 16:38] fabian-paul commented on #56
Hi Marius, I tried my own implementation with 10k states. This worked fine on a workstation with 8 GB memory (possibly less RAM would also suffice). That's also why there are so many scattered `del` commands in my implementation.
I'm not aware of a sparse Schur decomposition. You might also ask Bernhard or Marcus. I remember that they had come up with an equivalent formulation of GPCCA that does n

[2020-04-05 15:31] msmdev commented on #56
@Marius1311 I made good progress this weekend. Hope to be able to serve a working implementation by middle or end of the week :)

[2020-04-05 15:37] msmdev commented on #56
@Marius1311 The main problem is not the Schur decomposition, but the sorting of it. This is currently the bottleneck. There is a way to speed this up significantly, but there is no implementation whatsoever of this as far as I know...
I totally agree with @fabian-paul : It doesn't appear sane to me to use up to 100k states from statistical point of view (you would need tremendous amounts of data..

[2020-04-06 07:34] Marius1311 commented on #56
Thanks @msmdev for the update!

[2020-04-07 08:21] Marius1311 commented on #56
Hi @fabian-paul , when trying to run your gpcca code, I get an import error:
`import msmtools.analysis.dense.pcca as p` raises
[code]

[2020-04-07 08:40] fabian-paul commented on #56
That's unrelated to PCCA and you could avoid the bug by commenting out that line. mle_trev is a compiled module and probably you have to recompile (python setup.py install). Also, possibly my fork is a bit outdated and not fully compatible with the current development branch of msmtools. I'll look into that.

[2020-04-07 12:20] Marius1311 commented on #56
Thanks! I commented out that line and a couple more imports that caused bugs once that first line was commented out and now it runs.

[2020-04-07 13:13] Marius1311 commented on #56
So here are some first results: Fabian's implementation works for us, and gives quite nice results already. In practice, we may often have the of a degenerate 1-eigenvalue, so your implementation @msmdev would be still very valuable!

[2020-04-07 13:31] msmdev commented on #56
@Marius1311 Nice to hear that you like G-PCCA! This motivates me to finish the official implementation! :)
Please don't forget to cite us ;) (Reuter, B., Weber, M., Fackeldey, K., Röblitz, S., & Garcia, M. E. (2018). Generalized Markov State Modeling Method for Nonequilibrium Biomolecular Dynamics: Exemplified on Amyloid β Conformational Dynamics Driven by an Oscillating Electric Field. Journal of

[2020-04-07 16:50] Marius1311 commented on #56
Thanks @msmdev for pointing me to the paper, I will **definitely** cite you, I really appreciate your help!

[2020-04-07 16:54] Marius1311 commented on #56
I meanwhile profiled @fabian-paul 's gpcca implementation on a large problem (20k states) and by far the most expensive computation was the computation of the schur decomposition (> 1/2 of the computation time), see the screenshot below. Are there ways to speed this up?

<img width="1163" alt="Screenshot 2020-04-07 at 18 45 00" src="https://user-images.githubusercontent.com/24494650/78697400-08ee8

[2020-04-08 14:53] msmdev commented on #56
@Marius1311 You could compare it with the time needed by Matlab to perform the Schur decomposition (I could imagine that the Matlab implementation is better optimized), but besides optimization I don't see a way to speed this up significantly. Anyway,  I think this is an acceptable computation time - compared for example with the time needed to solve the eigenvalue problem for the same matrix.
Jus

[2020-04-08 17:36] Marius1311 commented on #56
Hi @msmdev , I agree, it's an acceptable computation time, but the way I understand it, we really only need a subset of the Schur decomposition, yet we we have to compute the whole one, unfortunately. Since my matrix is quite sparse, I can compute the top ~10-20 eigenvectors in ~20 seconds on my laptop (for the same 20k x 20k matrix). That's why PCCA is super fast for me - the only problem being t

[2020-04-08 20:45] msmdev commented on #56
@Marius1311 Hi Marius, I see your point here... Actually, it is indeed possible to perform a partial Schur decomposition, but since you need to sort it at the same time it is a little more intricate. There is a paper from Brandts (from were we took the sorting algorithm for the whole Schur form), were he also outlines a combined partial Schur decomposition and sorting algorithm:
Brandts, J. H. (20

[2020-04-08 20:51] msmdev commented on #56
@Marius1311 Regarding the 20k you are clustering into only five macrostates: I really think you could benefit from some preprocessing to gain a smaller matrix... Consequently, the Schur decomposition even of the whole matrix wouldn't be so costly any more. Mb, we could discuss your problem/application in some more detail, but since this is a little of topic for this chat we should do this via emai

[2020-04-13 15:14] axsk commented on #56
Hello all,
Marcus Weber pointed me to this discussion.
From my experience the sorting is actually not necessary beyond for getting the dominant Schur vectors. Since this is possible with a _partial Schur decomposition/factorization_ (by targeting the leading n eigenvalues) I think that this is the way to go.
ARPACK and SLEPc seem to offer implementations with Python bindings,
c.f. https://slepc.up

[2020-04-13 16:08] msmdev commented on #56
@axsk Hi Alex, thx for the input. Yes we actually only sort the leading Schur vectors, but currently we need to perform the whole Schur decomposition before the sorting... So a sorted partial decomposition is indeed what we are looking for. Do you have some working code example for partial sorted Schur decomposition of the dominant Schur vectors (belonging to the leading eigenvalues) with ARPACK o

[2020-04-14 12:28] axsk commented on #56
I have worked with GPCCA / the Schur version of PCCA+ since my [bachelor thesis 2014/15](https://www.researchgate.net/publication/307978050_PCCA_and_Its_Application_to_Spatial_Time_Series_Clustering) (which sadly never got cited :( ).
Since everyone in CMD working group was running his own copy of PCCA+/GPCCA, we decided to bundle and maintain a generic implementation into a lightweight Python pac

[2020-04-14 12:51] msmdev commented on #56
@axsk I will take a look at it regarding Krylov-Schur.
Anyway I already finished the G-PCCA implementation for MSMTools. Currently I am just running the test und thus will push them the next days...

[2020-04-15 10:48] Marius1311 commented on #56
Hi all, thanks @axsk for the input - I will check out your implementation. Thanks also @msmdev, I'm curious to see your implementation as well!

[2021-01-18 09:08] marscher commented on #56
https://github.com/msmdev/pyGPCCA is finally public, congrats @msmdev

@clonker fyi, eventually this should be used in deeptime-ml, when creating non-rev MSMs as the algorithm of choice during coarse-graining.

[2021-01-18 09:08] #56 closed, assigned to nobody

[2021-01-18 09:41] msmdev commented on #56
@marscher @clonker we are currently finalizing the documentation and will soon deploy on PyPI and conda, so pyGPCCA will be ready to be used.
Btw, GPCCA is - in my opinion - not only the method of choice to coarse-grain non-reversible MSMs, but also for reversible MSMs, since it is the natural generalization of PCCA+.
Further, pyGPCCA is much faster than PCCA+ when coarse-graining huge matrices, i

[2021-01-18 10:13] clonker commented on #56
This is great, congrats indeed @msmdev! I like that you kept SLEPc as an optional dependency, makes integrating it so much easier. Looking forward to your package and documentation!

[2021-01-18 14:16] axsk commented on #56
@msmdev Considering that most of the SLEPc code originates from my repository, I would appreciate a mention in the contributor section. Thank you very much :)
Alexander Sikorski

[2021-01-18 14:26] msmdev commented on #56
@axsk thx for pointing out that you pointed us to SLEPc (as we mentioned in the acknowledgements of our cellrank preprint [here](https://www.biorxiv.org/content/10.1101/2020.10.19.345983v2).
The actual code integrating SLEPc in pyGPCCA was written by @michalk8, @Marius1311 and me, but you undoubtedly gave us some inspirations were to start.
Fell free to pm me, if you like to discuss further mentio

[2021-01-18 14:48] axsk commented on #56
I am not sure if a copy and paste of my code (compare https://github.com/msmdev/msmtools/commit/86600db5cf92e5ae6d1dc6844af97d7b372fb4a7 to [my code](https://github.com/zib-cmd/cmdtools/blob/1c6b6d8e1c35bb487fcf247c5c1c622b4b665b0a/src/cmdtools/analysis/pcca.py#L64)), after requesting that code from me is merely an inspiration.

However saying that "you surely didn't contribute anything to _gpcca.

[2021-01-18 14:57] msmdev commented on #56
Alex, as I mentioned in your PR I am willing to include appropriate mentions in the related part of pyGPCCA (in _sorted_schur), but not in the main code _gpcca.
I think this is absolutely appropriate - also our code is surely not just a copy and paste and the part which is similar is following not only your example but also the SLEPc documentation.
As I told you in your pull request: you can suppl

[2021-01-18 15:12] msmdev commented on #56
You should better compare [_sorted_schur](https://github.com/msmdev/pyGPCCA/blob/main/pygpcca/_sorted_schur.py) in pyGPCCA, since the commit you mention was a first trial in a fork of msmtools and developed substantially since then. Thus your code was indeed a first inspiration, but is not identical ("...copy and paste...") to our implementation in pyGPCCA as you claim.
This would be fair.

[2021-01-18 17:46] msmdev commented on #56
Appropriate credit is now given to @axsk in this commit [e5b1d9e](https://github.com/msmdev/pyGPCCA/commit/e5b1d9e97f95bb729b5982d3b6d5e609d1541dcb).

[2021-01-22 08:54] axsk commented on #56
I want to clarify that my copy and paste allegation was not to say that the current version of the code _is_ a simple copy, but rather that  [sorted_krylov_schur](https://github.com/msmdev/pyGPCCA/blob/e5b1d9e97f95bb729b5982d3b6d5e609d1541dcb/pygpcca/_sorted_schur.py#L180) was developed based on a copy of my function [krylovschur](https://github.com/zib-cmd/cmdtools/blob/1c6b6d8e1c35bb487fcf247c5c

[2021-01-30 09:15] msmdev commented on #56
Thank you very much @axsk for the clarification and your congrats! I would like to apologize for missing to give you appropriate credits in the first place - this is now finally done in the commit [c9d32e3](https://github.com/msmdev/pyGPCCA/commit/c9d32e306ea299938cb09bcc48d3e007db867f71) and the [acknowledgments](https://pygpcca.readthedocs.io/en/latest/acknowledgments.html).
Also I would like to

[2022-04-17 04:28] debanjansen48 opened #126 "unable to install"
i am trying to install it in a windows machine utilizing pip but return following error

C:\Users\HP\bhmm-master> pip install msmtools
Collecting msmtools
Downloading msmtools-1.2.6.tar.gz (603 kB)
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 603.9/603.9 KB 2.9 MB/s eta 0:00:00
Installing build dependencies ... done
Getting requirements to build wheel ... done
Preparing metadata (pyproject.toml) ... d

[2022-04-19 07:28] clonker commented on #126
You'll have to download MSVC (https://visualstudio.microsoft.com/de/visual-cpp-build-tools/) to install msmtools via pip or go with the conda-distributed build.

[2022-08-15 08:30] clonker commented on #126
I assume this is resolved, feel free to reopen otherwise

[2022-08-15 08:30] #126 closed, assigned to nobody